@import url(./description/description.css);
@import url(./coach/coach.css);
@import url(./cost/cost.css);
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media all and (max-width: 320px) {
  .main {
    width: 320px;
  }
}