@import url(./__container/cost__container.css);
.cost {
  width: 100%;
  display: flex;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-image: url('~images/kik.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10%;
  padding-right: 10%;
}