@keyframes title {
  from {
  text-shadow: 0 0 10px #f5f0f0, 0 0 20px #101010, 0 0 30px #101010, 0 0 40px #101010, 0 0 50px #9052ad, 0 0 60px #880f2d, 0 0 70px #e40d31;
  }
  to {
  text-shadow: 0 0 20px #f5f0f0, 0 0 30px #f54da1, 0 0 40px #f54da1, 0 0 50px #f54da1, 0 0 60px #f54da1, 0 0 70px #e71414, 0 0 80px #f81b1b;
  }
}
.header__title {
  font-weight: 900;
  font-size: 100px;
  color: #fff;
  text-shadow: 7px 7px 3px red;
  animation: title 1.5s ease-in-out infinite alternate;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
@media all and (max-width: 840px) {
  .header__title {
    font-size: 70px;
    text-shadow: 5px 5px 3px red;
  }
}
@media all and (max-width: 620px) {
  .header__title {
    font-size: 50px;
    margin-bottom: 10px;
  }
}
@media all and (max-width: 420px) {
  .header__title {
    font-size: 36px;
  }
}