@import url(./__block/coach__block.css);
.coach {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  padding-top: 50px;
}